
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.padre{
    display: flex;
    flex-flow: column wrap;
}
.margen-interno{
    padding: 50 50px;
}
a{
    text-decoration: none;
}
    /**************************************************************/
    .header {
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height:60px;
            align-items: center;
            border-bottom: 1px solid rgb(255, 255, 255,.5);
        }
            .logo{
                flex: 1 1 auto;
            }
                .logo a{
                    font-size: 35px;
                    color: #Ffb200;
                    font-weight: bold;
                    text-decoration: none;
                }
            .nav{
                flex: 5 1 auto;
                
            }
                .nav a{
                    color: black;
                    font-weight: bold;
                    font-size: 13px;
                    letter-spacing: 3px;
                    margin-left: 20px;
                }
                .nav a:hover{
                    color: blue;
                    font-weight: bold;
                    
                }

            .social{
                display: flex;
                flex: 1 1 auto;
            }
                .social a{
                    color: #fff;
                    padding: 0 5px;
                    font-size: 20px;
                    
                }
                .social a:hover {
                    color: blue;
                }
        .texto-principal{
            height: 580px;
            display: flex;
            align-items: center;
        }
            h1{
                font-family: 'Lora', serif;
                font-size: 21px;
                color: #fff;
                font-weight: 300;
                text-align: center;
                line-height: 1.6;
                width: 100%;
            }
    .portada{
        display: flex;
    }
        .portada img {
            width: 100%;
            
        }
    /**************************************************************/
    .section{
        background: #F6F9FC;
        display: flex;
    }
        .articulos{
            background: #F6F9FC;
            flex: 2 1 auto;
            display: flex;
            flex-flow: column;
            padding: 0;
            margin: 0;
        }
            .article{
                display: flex;
                color: #444;
                flex: 1 1 40%;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: white;
            }
                
                .article img {
                    width: 100%;
                }
                /*Articulo del Bobblehead**************************/
                .bobblehead > .informacion{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .bobblehead > .informacion >h1{
                        color: #000;
                        margin-bottom: 30px;
                    }
                    .bobblehead > .informacion >h2{
                        font-size: 50px;
                        color: #000;
                        margin-bottom: 30px;
                    }
                    .bobblehead > .informacion > button{
                        color: white;
                    }
                    .btn.signin{
                        border-radius: 30px;
                        font-size: 17px;
                        margin-top: 20px;
                        margin-bottom: 10px;
                        padding: 30px;
                        width: 60%;
                        background: linear-gradient(to left, #fc7f41, #f46949, #e95351, #da3f58, #c82d5f);
                    }
                /*Articulo de Cartoons**************************/
                .cartoons > .informacion{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .cartoons > .informacion >h1{
                        color: #000;
                        margin-bottom: 30px;
                        font-size: 30px;
                    }
                    .cartoons > .informacion >p{
                        font-size: 15px;
                        color: black;
                        margin-bottom: 30px;
                        text-align: center;
                        font-weight: bold;

                    }
                    .cartoons > .informacion > button{
                        color: white;
                    }
                /*Articulo de Pasteles**************************/
                .pasteles > .informacion{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .pasteles > .informacion >h1{
                        color: #000;
                        margin-bottom: 30px;
                        font-size: 28px;
                        padding-left: 10%;
                        padding-right: 10%;
                    }
                    .pasteles > .informacion > button{
                        color: white;
                    }
                    
                .empresa > img {
                    width: 100%;
                }

            /*-----------------------ARTICULO DEL BOBBLEHEAD--------------------------------*/
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
            }
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
            }
            .navegacion a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
        
    .footer{
        background: #000000;
        display: flex;
        margin-top: 10px;
        padding: 50px;
        
    }
        .footer > div{
            color: white;
            display: flex;
            flex-direction: column;
        }
        .footer > div > a{
            color: white;
        }